@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	/* Main chatbox */
	--dark-color-a: #183977;

	/* Sidebar color */
	/* --dark-color-b: #ffc8dd; */
	/* --dark-color-b: ; */
	--dark-color-b: #76D7EA;

	/* background color */
	--light-color: #ffffff; 

	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	margin: 20px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
	list-style: none;
	margin-left: 20%;
	
}

ul li {
	font-size: large;
}

ul li::before {
	content: '\25A0';
	color: var(--dark-color-a);
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: var(--dark-color-b);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: #000000;
	border-style: solid;
	border-width: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 2fr 4fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: auto;
	box-shadow : 10px 0 var(--dark-color-a);
}

.chat-sidebar h2 {
	font-size: 20px;
	padding: 10px;
	padding-top: 0px;
	margin-bottom: 1px;
	
}

.line{
	width: 169.5px;
	margin-left: -20px;
	margin-right: -20px;
	border-top: 10px solid var(--dark-color-a);
	margin-bottom: 10px;
	}


.chat-sidebar h3 {
	color: var(--dark-color-a);
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-a);
	opacity: 0.9;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	/* color: #777; */
	color: var(--dark-color-a);
	opacity: 0.5;
}

.baatcheet-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.baatcheet-form-container form {
	display: flex;
}

.baatcheet-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}



/* Join Page */
.join-container {
	max-width: 500px;
	color: #fff;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: #000000;
	border-style: solid;
	  border-width: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 600px) {
	body {
		font-size: 22px;
	}
	
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

	.chat-header {
		width: 100%;
		display: inline-block;
		align-items: center;
	}

	.chat-messages{
		max-height: 300px;
	}


.btn {
	font-size: 13px;

}
}